.footer{
   
    background-color: $clr_bg_3;
    height: 240px;
    max-width: 100%;
    

    @include tablet-only{
         
         font-size: xx-large;
    }
   
&__logo{
    font-size: x-large;
    font-family: 'Shrikhand', cursive;
    color: $clr_font_btn
} 
&__logo > h4{
    padding: 15px 0 0 40px;
    margin-top: 0;
}   
&__link{
    list-style-type: none;
    
}
&__link > li{
    margin: 0 0 12px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
    
}
& >.fa-utensils{
    margin: 0 15px 0 0;
}
& >.fa-handshake-angle{
    margin: 0 15px 0 0;
}
}

.footer__restaurant__menu{
    background-color: $clr_bg_3;
    height: 240px;
    max-width: 100%;
    width: 100%;
    
    @include tablet-only{
        text-align: center;
        font-size: xx-large;
    }

    &__logo{
        font-size: x-large;
        font-family: 'Shrikhand', cursive;
        color: $clr_font_btn
    } 
    &__logo > h4{
        padding: 15px 0 0 40px;
        margin-top: 0;
    }   
    &__link{
        list-style-type: none;
        
    }
    &__link > li{
        margin: 0 0 12px 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: medium;
    }
}