
.header{
    width: 100%;
    height: 60px;
    margin: 0;
    box-shadow: 0px 4px 2px $clr_header_shadow;
      
    &__logo{
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    &__arrow{
        position: absolute;
        top: 2%;
        left: 3%;
        font-size: 25px;
        color: $clr_header_arrow;
    }  
}


