.restaurant__menu{
    display: flex;
    
    &__img{    
      width: 100%;
      
      @include tablet-only{
          width: 100%;
          
      }
    }

    &__content{
        width: 100%; 
        position: absolute;
        margin-top: 220px;
        background-color: $clr_bg_logo;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
        @include tablet-only{
            width: 100%;
            margin-top: 495px;
           
        }
            & > h4{
                margin: 0 0 25px 20px;
                padding-top: 40px;
                font-family: 'Shrikhand', cursive;
                font-size: x-large;
            } 
            
            .fa-solid, .fa-light{
                font-size: 30px;
                position: absolute;
                left: 90%;
                top: 3%;
            }

     
    
    &__starter > h5, &__main__course > h5, &__deserts > h5{
            
            margin: 0 0 0 20px;
            padding: 2px;
            font-size: large;
            opacity: 0.8;
            
            &::after{
                content: "";
                font-size: 0;
                border-bottom: 3px solid #99E2D0;
                width: 40px;
                display: block;
            }
    }

    &__starter__btn, &__main__course__btn ,&__deserts__btn{
            width: 90%;
            height: 65px;
            display: block;
            flex-direction: column;
            border-radius: 15px;
            background-color: white;
            box-shadow: 2px 2px 2px $clr_header_shadow;
            margin: 5%; 
            
            
                           
            &__body{
                position: relative;


                & > h6 {
                    padding: 15px 0 5px 10px;
                    margin: 0;
                    font-size: large;
                    font-weight: bold;      
                }
    
                & > p{
                    margin: 0 0 0 10px;
                    font-size: medium;
                    opacity: 0.9;
                    
                }

                &__price{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    bottom: 20px;
                    right: 5%;
                    margin-right: auto;
                    font-weight: bold;
                }

                &__slide{
                    position: absolute;
                    right: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    width: 50px;
                    height: 65px;
                    background-color: $clr_tertiary;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    
                    transform: scaleX(10%);
                    transform-origin: right;
                    transition: 0.5s ease;
                  
                    &:hover{
                        margin-left: 50px;
                        transform: scaleX(100%);
                        visibility: visible;
                    }   
                }
                
            }
    }
    
}
               
}